@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

.ignore{
    height: 3.25em;
}
div {
    border: 0;
    font: inherit;
    padding: 0 1.5px 0 1.5px;
    vertical-align: baseline;
    display: block;
}
.main_nav,.main_section{
    display: block;
    float: left;
    margin-right: -100%;
    height: 100%;
    min-height: 100%;    
}

.main_section { 
    width: 80.5556%;
    background-color: #E7E9EC;
    margin-left: 19.4444%; 
}

.main_content {
    background-color: #E7E9EC;
}
.sub_content {
    position: relative;
    margin: 0 0 1em;
    float: right;
    width: 100%;
}
.b_2 .sub_content{
    position: relative;
    width: 100%;
    padding: 1px ;
    border-bottom: 1px solid #B6BDBE;
}
.b_2 .sub_content h3{
    margin-left: 5px;
    font-size: inherit;
    font-weight: bold;

}
.b_2 .sub_content i{
    line-height: 1;
    margin-right: 5px;
}

.b_2 #wrap {
    border-bottom: 1px solid #B6BDBE;
    margin-bottom: 15px;
    padding-top: 2px;
    /* padding-bottom: 2px; */
    position: relative;
}
.b_2 #wrap h1 {
    margin-left: 20px;
}

.b_2 h1 {
    font-size: 1.5rem;
    line-height: 10%;
    margin: 2.1rem 0px 1.68rem 200px;
    font-weight: bold;
    text-align: left;
    margin: 2.1rem 0px 1.68rem 2px;
}

.list_style_buttons {
    position: absolute;
    right: 0;
}
li.device.cf.ng-scope {
    margin: 0;
    padding: 0;
}

#h1 h1 {
    font-weight: normal;
    font-size: 1.9em;
    line-height: 2.0em;
    color: #545454;
    letter-spacing: -0.04em;   
}

.b_2 h4 {
    font-size: 1.28rem;

}

h4.ng-binding {
    color: black;
}

.b_2 h3 {
    font-size: 1.57rem;
    font-weight: bold;
    /* float: left; */
}

h3.ng-binding {
    color: black;
    floa: left;
}

h1.ng-binding {
    color: purple;
}

ul{
    padding: 0;
    list-style: none;/*remove dot*/
    font-size: .92857143em;
    /*padding: 0.3em 2%; */
}


.ifs_bannerT{
    padding:.8em 5%;
}
.ifs_bannerT img{
    height: auto;
    width: 100;
}

.devicelist {
    background: white;
    width: 100%;
    min-width: 290px;
    max-width:550px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    opacity: .95;
    z-index: 10;
}

/** list view **/
ul.list { list-style: none; width: 100%; }
ul.list li { display: block;  padding: 10px 15px; background-color: #FBFBFB;width: 100%;}


/** grid view **/
ul.grid { list-style: none; margin: 0 0; padding-left: 20px; padding-right: 20px;/* background: white; */}
ul.grid li { position: relative; background: white; display: block; float: left;width: 250px;max-width: 47.5%;height: 470px; /* border-right: 1px solid #696B6B; */ padding: 5px 22px;margin-bottom: 20px; margin-right: 20px;box-sizing: border-box; box-sizing: border-box;      /* max-height: 80.5%; */-moz-box-sizing: border-box; -webkit-box-sizing: border-box;}




/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { /* display: inline-block; */ }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.b_2 .clearfix  {
    display: inline-block;
    clear: none;
    /* box-sizing: border-box; */
    /* max-width: 47.5%; */
}

/* with animation */
.clearfix li {
    opacity: .9;
    -webkit-transition: all 0.3s ease-out;
/*    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;*/
}

.clearfix li:hover {
    opacity: 1;
    
/*     background: #FDF6E3; //Color of the animated li */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/*more animation*/
/*.clearfix.ng-enter.ng-enter-active,
.clearfix.ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
}

.clearfix.ng-leave.ng-leave-active,
.clearfix.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
}*/


.devicelist ul {
    margin: 0;
    padding: 0;
/*    background: #FDF6E3;*/
}
/* with animation */
.b_2 .devicelist li {
    margin: 0;
    width: inherit;
    padding: 10px 10px 0 10px;
    border-bottom: 1px dotted black;
    opacity: .9;
    
/*    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;*/
    /* height: 200px; */
}
.devicelist a {
    display: block;
    text-decoration: none;
    /* padding-top: 0.5px; */
    /* padding-bottom: 0.5px; */
}

/*with animation */
.b_2 .devicelist li:hover {
/*    background: #FDF6E3;*/
    opacity: 1;
/*    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}*/
.device img {
    display: block;
    float: left;
    width: 120px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin-right: 30px;
    /* margin-bottom: 10px; */
    margin-bottom: 10p;
}

.device info {
    margin: 0;
    padding: 10px 10px 0 10px;
    border-bottom: 1px dotted black;
    opacity: .9;
    -webkit-transition: all 0.3s ;
    display: block;
    float: left;

}

.device:last-child {
    border-bottom:none;
}

.deviceinfo {
    font-size: 0.9em;
    /* line-height: 200%; */
    background: #EEE8D5;
    color: #0F4150;
    width: 80%;
    /* min-width: 320px; */
    /* max-width: 620px; */
    margin: 0 auto;
    margin-top: 30px;
    /* margin-bottom: 15px; */
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 20;
    /* text-align: center; */
}

.deviceinfo h1{
    font-size: 1.8em;
    margin-bottom: 0;
    text-align: center;
    margin: 1.78rem 0 1.424rem 0;
}


.deviceinfo img {
    max-width: 100%;
    border-radius: 10px;
    width: 120px;
}


.deviceinfo .btn {

}

.main_content button{
    color: #fff;
    background-color: #863d8d;
    /*text-shadow: -1px 1px #863d8d; */
    height: 3em;
    /*display: inline-block;*/
    margin: 0 0 0 0;
    padding: 5px 25px;
    text-align: center;
    font-size: 15px;
    border: none;
    width: 9em;
    margin-bottom: 10px;
}

.main_content img{
    margin-top: 10px;
    /* margin-left:  5px; */
    margin-bottom: 10px;
    /* margin-bottom: 10px; */
    position: relative;
    top:0;
    right:0;
    /* float: right; */
    /* padding: 4px; */
}

/*more animation*/
/*.b_2.clearfix.ng-enter.ng-enter-active,
.b_2.clearfix.ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
}

.b_2.clearfix.ng-leave.ng-leave-active,
.b_2.clearfix.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;*/
}



/*devide 2 into 1*/
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 768px) {
    .n1{
        display: none;
    }
    .main_nav{
        display: none;
    }

    .main_section{
        width: 100%;
        background-color: #E7E9EC;

        /*padding-top: 3.25em;*/
        margin-left: 0%;
    }
    .ifs_bannerT .deviceinfo {
        padding:.8em 5%;
        width: 100%;
    }
    .devicelist {
        width: 80%;
        max-width: 100%;
    }


    .n2{
        width: 100%;
    }
    .menu{
        display: inline;
    }    
}
/*768, 480*//*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2015, 11:35:09 AM
    Author     : nedilk
*/

