/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2015, 11:17:29 AM
    Author     : sanmlk
*/
input[type="search"] {
    height: 2rem;
    margin: 0;
}

.input-field .prefix.active {
     color: #000000;
     z-index: 999;
   } 

.d .dropdown-content li > span {
    font-size: 1rem;
    color: #000000;
    display: block;
    padding: 1rem 1rem;
}

@media only screen and (max-width : 600px) {
    #toast-container {
        min-width: 8%;
        left: 20%;
        top: 30%;
    }  
}
@media only screen and (min-width : 601px) and (max-width : 992px) {
    #toast-container {
        min-width: 30%;
        left: 35%;
        top: 30%;
        z-index: 0;
    } 
}
@media only screen and (min-width : 993px) {
    #toast-container {
        min-width: 8%;
        right: 35%;
        top: 30%; 
        z-index: 0;
    } 
}
