input[type="search"] {
    height: 2rem;
    margin: 0;
}
.switch label .lever{
    margin: 16px 16px;
}
.edit_card_panel {
    margin: 0;   
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 3:00:24 PM
    Author     : sanmlk
*/
.requested .for_expand, .requested .for_view{
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.lll{
    text-align: left;
}
.requested p a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
.requested p a:visited {
    color: plum;
    background-color: transparent;
    text-decoration: none;
}
.requested p a:hover {
    color: palevioletred;
    background-color: transparent;
    text-decoration: underline;
}
.requested p a:active {
    color: orchid;
    background-color: transparent;
    text-decoration: underline;
}
@media only screen and (max-width : 600px) {
    #toast-container {
        min-width: 8%;
        left: 20%;
        top: 30%;} 
}
@media only screen and (min-width : 601px) and (max-width : 992px) {
    #toast-container {
        min-width: 30%;
        left: 35%;
        top: 30%;} 
}
@media only screen and (min-width : 993px) {
    #toast-container {
        min-width: 8%;
        right: 35%;
        top: 30%; } 
}
