input[type="search"] {
    height: 2rem;
    margin: 0;
}
.switch label .lever{
    margin: 16px 16px;
}
.edit_card_panel {
    margin: 0;   
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 3:00:24 PM
    Author     : sanmlk
*/
.requested .for_expand, .requested .for_view{
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.lll{
    text-align: left;
}
.requested p a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
.requested p a:visited {
    color: plum;
    background-color: transparent;
    text-decoration: none;
}
.requested p a:hover {
    color: palevioletred;
    background-color: transparent;
    text-decoration: underline;
}
.requested p a:active {
    color: orchid;
    background-color: transparent;
    text-decoration: underline;
}
.toast_1 {
    border-radius: 2px;
    top: 0px;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    line-height: auto;
    background-color: #676767;
    padding: 0px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #FFF;
    display: block;//flex
    align-items: center;
    justify-content: space-between;
}
.toast_1 .btn{
    margin: 0;
}

@media only screen and (max-width : 600px) {
    #toast-container {
        min-width: 8%;
        left: 20%;
        top: 30%;
    } 
    #toast_holder{ // make it avaliable edit view            
                   display: block;
                   width: 90%;
                   display: block;
                   position: fixed;
                   margin-top: -1200px;
                   margin-left: 5%;
    }
    #toast_holder_2{ // make it avaliable expandable view      
                     display: block;
                     width: 90%;
                     display: block;
                     position: fixed;
                     margin-top: -900px;
                     margin-left: 5%;
    }
    #toast_holder_3{ //delete toast (delete,cancel)
                     display: block;
                     width: 90%;
                     position: fixed;
                     margin-top: -960px;
                     margin-left: 5%;
    }
    #toast_holder_4{ // delete toast edit view(delete,cancel)
                     display: block;
                     width: 90%;
                     display: block;
                     position: fixed;
                     margin-top: -1200px;
                     margin-left: 5%;
    }
}
@media only screen and (min-width : 601px) and (max-width : 992px) {
    #toast-container {
        min-width: 30%;
        left: 35%;
        top: 30%;
        z-index: 0;
    } 
    #toast_holder{
        display: block;
        width: 50%;
        position: fixed;
        margin-top: -1200px;
        margin-left: 25%;
    }
    #toast_holder_2{
        display: block;
        width: 50%;
        position: fixed;
        margin-top: -850px;
        margin-left: 25%;
    }
    #toast_holder_3{
        display: block;
        width: 90%;
        position: fixed;
        margin-top: -890px;
        margin-left: 5%;
    }
    #toast_holder_4{ // make it avaliable edit view            
                     display: block;
                     position: fixed;
                     margin-top: -1250px;
                     margin-left: 5%;
                     width: 90%;
    }
}

@media only screen and (min-width : 993px) {
    #toast-container {
        min-width: 8%;
        right: 35%;
        top: 30%; 
        z-index: 0;
    } 
    #toast_holder{
        display: block;
        width:40%;        
        position: fixed;
        margin-top: -1150px;
        margin-left: 15%;
    }
    #toast_holder_2{
        display: block;
        width: 40%;
        position: fixed;
        margin-top: -800px;
        margin-left: 15%;
    }
    #toast_holder_3{
        display: block;
        width: 50%;
        position: fixed;
        margin-top: -900px;
        margin-left: 15%;
    }
    #toast_holder_4{ // make it avaliable edit view            
                     display: block;
                     width: 50%;
                     position: fixed;
                     margin-top: -1250px;
                     margin-left: 15%;
    }

}
