<link href="styles/details.css" rel="stylesheet" type="text/css"/>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
<section class="b_3">
    <div class="deviceinfo">
        <!--main_content-->
        <div class="">
            <div class="ifs_banner">

                <!--Show on large only-->
                <div class="buttonClass row hide-on-med-and-down" style="position: fixed;width: 100%; padding-right: 19.4444%"> 
                    <div style="width: 50%; float: left"> 
                        <h1>{{devices[whichItem].name}}</h1>
                    </div>
                    <div style="width: 50%; float: left"> 

                        <button style="margin-top:  20px; width: 48%; float: left; height: 46px;" type="button" data-target="modal1" class="Now waves-effect waves-light btn modal-trigger">Now</button>
                        <p style="width: 4%; float: left"> </p>
                        <button style="margin-top:  20px; width: 48%; float: left; height: 46px;" type="button" data-target="modal2" class="Later waves-effect waves-light btn modal-trigger ">Later</button>
                    </div>
                </div>
                
                <!--Show on small & medium -->
                <div class="buttonClass row show-on-medium-and-down hide-on-large-only" style="position: fixed;margin-left: -50%;
                 width: 100% ">
                    <div style=" width: 100%; float: left; "> 
                        <h1>{{devices[whichItem].name}}</h1>
                    </div>
                    <div style="width: 100%; float: left; margin-left: 10px; background-color: #fafafa;"> 
                        <button style="margin-top:  20px; width: 45%; float: left;height: 40px" type="button" data-target="modal11" class="Now waves-effect waves-light btn modal-trigger">Now</button>
                        <p style="width: 4%; float: left"> </p>
                        <button style="margin-top:  20px; width: 45%; float: left;height: 40px" type="button" data-target="modal22" class="Later waves-effect waves-light btn modal-trigger">Later</button>
                    </div>
                </div>



                <!--Show on medium only-->
<!--                <div class="buttonClass row hide-on-small show-on-medium-only hide-on-large  " style="position: fixed;
                     width: 90% ">
                    <div style=" width: 100%; float: left; "> 
                        <h1>{{devices[whichItem].name}}</h1>
                    </div>
                    <div style="width: 100%; float: left; margin-left: 10px; background-color: #fafafa;"> 
                        <button style="margin-top:  20px; width: 45%; float: left;height: 40px" type="button" data-target="modal111" class="Now waves-effect waves-light btn modal-trigger">Now</button>
                        <p style="width: 4%; float: left"> </p>
                        <button style="margin-top:  20px; width: 45%; float: left;height: 40px" type="button" data-target="modal222" class="Later waves-effect waves-light btn modal-trigger">Later</button>
                    </div>
                </div>-->

                <div class="fixed-action-btn" style="bottom: 10px; right: 5px;">
                    <a class="btn-floating btn-large purple" href="#/details/{{whichItem}}/edit_mode">
                        <i class="material-icons">mode_edit</i>
                    </a>

                </div>

                <div class="device cf" ng-model="devices">

                    <div class="col s12 m3 l4 hide-on-med-and-down">
                        <img  style="width: 20%; " ng-src="images/{{devices[whichItem].image_no}}.jpg">
                    </div>
                    <div class="col s12 m3 l4 hide-on-large-only">
                        <img  style="width: 40%; margin-top: 130px" ng-src="images/{{devices[whichItem].image_no}}.jpg">
                    </div>


                    <div class="info">

                        <h2> Type : {{devices[whichItem].type}}</h2>
                        <h3> Platform : {{devices[whichItem].platform}}</h3>
                        <h3> OS : {{devices[whichItem].OS}}</h3>
                        <h3> Belongs to : {{devices[whichItem].sub_Product_Area_name}}</h3>
                        <h3> Size : {{devices[whichItem].size}} inches</h3>
                        <h3> Resolution : {{devices[whichItem].resolution}} inches</h3>
                        <h3> Location : {{devices[whichItem].location}}</h3>
                        <h3> URL : {{devices[whichItem].URL}}</h3>

                    </div>

                </div>

            </div>
        </div>

        <!-- Modal Structure -->


        <form >
            <!--        now button start-->

            <!--         Modal Structure     -->
            <div id="modal1" class="modal " style="width: 360px; max-height: 100%; height: 45%;" >
                <div class="modal-content" >
                    <h4>Borrow Now</h4>

                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un" type="text" class="validate" maxlength="6" ng-model="now.userName" length="6" required>
                        <label for="un">Username</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons " style="alignment-adjust: before-edge">timelapse</i>
                        <select ng-model="now.to">
                            <option value="" disabled selected>Duration </option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>

                        <!--                    <label style="alignment-adjust: middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</label>-->
                    </div> 
                    
                    <p>{{now}}</p>
                </div>
                <div class="modal-footer">
                    <a  class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>   
            <!--        now button end-->
            <!--        later button start-->
            <div id="modal2" class="modal " style="width: 360px; max-height: 100%;height: 55%;">
                <div class="modal-content">
                    <h4>Borrow Later</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un2" type="text" class="validate" ng-model="later.userName" required maxlength="6" length="6">
                        <label for="un2">User Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">today</i>
                        <input id="calender" type="text" class="datepicker" ng-model="later.from" required>type="date"
                        <label for="calender">From</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons">timelapse</i>
                        <select ng-model="later.to" required>
                            <option value="" disabled selected>Duration</option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>              
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="submit" class="modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none">Submit</button>
                </div>
                <p>{{later}}</p>
            </div>

            <!--        later button end-->
        </form>
        
        <form>
<!--                    now button start-->

<!--                     Modal Structure     -->
            <div id="modal11" class="modal" style="width: 100%; max-height: 100%; height: 100%;"  >
                <div class="modal-content" >
                    <h4>Borrow Now</h4>

                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un" type="text" class="validate" maxlength="6" ng-model="now.userName" length="6" required>
                        <label for="un">Username</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons " style="alignment-adjust: before-edge">timelapse</i>
                        <select ng-model="now.to">
                            <option value="" disabled selected>Duration </option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>

<!--                                            <label style="alignment-adjust: middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</label>-->
                    </div> 
                    <br> <br> <br> <br>
                    <p>{{now}}</p>
                </div>
                
<!--                <div class="modal-content show-on-small-only hide-on-med-and-up" style="width: 100%; max-height: 100%; height: 100%;">
                    <h4>Borrow Now</h4>

                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un" type="text" class="validate" maxlength="6" ng-model="now.userName" length="6" required>
                        <label for="un">Username</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons " style="alignment-adjust: before-edge">timelapse</i>
                        <select ng-model="now.to">
                            <option value="" disabled selected>Duration </option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>

                                            <label style="alignment-adjust: middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</label>
                    </div> 
                    <br> <br> <br> <br>
                    <p>{{now}}</p>
                </div>-->
                
                <div class="modal-footer">
                    <a  class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>   
<!--                    now button end
                    later button start-->
            <div id="modal22" class="modal" style="width: 100%; max-height: 100%; height: 100%;" >
                <div class="modal-content" >
                    <h4>Borrow Later</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un2" type="text" class="validate" ng-model="later.userName" required maxlength="6" length="6">
                        <label for="un2">User Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">today</i>
                        <input id="calender" type="text" class="datepicker" ng-model="later.from" required>type="date"
                        <label for="calender">From</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons">timelapse</i>
                        <select ng-model="later.to" required>
                            <option value="" disabled selected>Duration</option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>              
                    </div> 
                </div>
                
<!--                <div class="modal-content show-on-small-only hide-on-med-and-up" style="width: 100%; max-height: 100%; height: 100%;">
                    <h4>Borrow Later</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un2" type="text" class="validate" ng-model="later.userName" required maxlength="6" length="6">
                        <label for="un2">User Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">today</i>
                        <input id="calender" type="text" class="datepicker" ng-model="later.from" required>type="date"
                        <label for="calender">From</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons">timelapse</i>
                        <select ng-model="later.to" required>
                            <option value="" disabled selected>Duration</option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>              
                    </div> 
                </div>-->
                
                <div class="modal-footer">
                    <button type="submit" class="modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none">Submit</button>
                </div>
                <p>{{later}}</p>
            </div>

<!--                    later button end-->
        </form>
        
        <!--    show on small-->

        <!--    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
            <button data-target="modal11" class="btn modal-trigger show-on-small-only hide-on-med-and-up">Now</button>
            <button data-target="modal22" class="btn modal-trigger show-on-small-only hide-on-med-and-up">Later</button>-->
        <!--     Modal Structure -->

<!--        <form class="show-on-small-only">
                    now button start

                     Modal Structure 
            <div id="modal11" class="modal show-on-small-only hide-on-med-and-up" style="width: 100%; max-height: 100%; height: 100%;" >
                <div class="modal-content">
                    <h4>Borrow Now</h4>

                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un" type="text" class="validate" maxlength="6" ng-model="now.userName" length="6" required>
                        <label for="un">Username</label>
                    </div>


                    <div class="input-field ">
                        <i class="material-icons " style="alignment-adjust: before-edge">timelapse</i>
                        <select ng-model="now.to">
                            <option value="" disabled selected>Duration </option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>

                                                                <label style="alignment-adjust: middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</label>
                    </div>

                    <p>{{now}}</p>
                </div>
                <div class="modal-footer">
                    <a  class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>   
                    now button end
                    later button start
            <div id="modal22" class="modal show-on-small-only hide-on-med-and-up" style="width: 100%; height: 100%; max-height: 100%;">
                <div class="modal-content">
                    <h4>Borrow Later</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un2" type="text" class="validate" ng-model="later.userName" required maxlength="6" length="6">
                        <label for="un2">User Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">today</i>
                        <input id="calender" type="text" class="datepicker" ng-model="later.from" required>type="date"
                        <label for="calender">From</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons">timelapse</i>
                        <select ng-model="later.to" required>
                            <option value="" disabled selected>Duration</option>
                            <option value="1day">1 day</option>
                            <option value="2day">2 days</option>
                            <option value="3day">3 days</option>                     
                            <option value="4day">4 days</option>
                            <option value="5day">5 days</option> 
                            <option value="6day">6 days</option> 
                            <option value="1week">1 week</option> 
                            <option value="2week">2 weeks</option> 
                            <option value="3week">3 weeks</option> 
                            <option value="1month">1 month</option> 

                        </select>              
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="submit" class="modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none">Submit</button>
                </div>
                <p>{{later}}</p>
            </div>

                    later button end
        </form>-->


    </div>
</section>
