<link href="styles/details.css" rel="stylesheet" type="text/css"/>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<section class="b_3">
    <div class="deviceinfo" >
<!--        main_content-->
        
        <div class="">
            <div class="ifs_banner">

            <!--Show on large only-->
                <div class="top row hide-on-med-and-down" style="position: fixed;width: 100%; padding-right: 19.4444%;height: 100px;background-color: #FAFAFA;"> 
                    <div  style="width: 40%; float: left; margin-left: 20px;padding-right: 2px;margin-right: 80px;"> 
                        <h1  style="text-align: left"> <b>{{devices[whichItem].device_Name}} </b> </h1>
                        <h3  style="text-align: left; margin-top: 0rem;">  Device id - {{devices[whichItem].device_ID}}  </h3>
                    </div>
                
                    <div  style="width: 60%; float: left; margin-left: -10%;margin-right: 0%;"> 
                        
                         <button  style="margin-top:  20px; width: auto; float: left; height: 36px;margin-right: 10px;" type="button" data-target="modal1" class="Now waves-effect waves-light btn modal-trigger" >Now</button>
                        
                        <button ng-click="ShowBooked()" style="margin-top:  20px; width: auto; float: left; height: 36px;margin-right: 10px;" type="button" data-target="modal2" class="Later waves-effect waves-light btn modal-trigger modal-action modal-close btn waves-effect waves-purple waves-light">Later</button>
                        
                        <button  style="margin-top:  20px; width: auto; float: left; height: 36px;margin-right: 10px;" type="button" data-target="modal5" class="Get waves-effect waves-light btn modal-trigger" >Get</button>
                        
                        <button style="margin-top:  20px; width: auto; float: left; height: 36px;margin-right: 10px; " type="button" data-target="modal4" class="Cancel waves-effect waves-light btn modal-trigger" >Cancel</button>
                        
                        <button style="margin-top:  20px; width: auto; float: left; height: 36px;margin-right: 10px; " type="button" data-target="modal3" class="Return waves-effect waves-light btn modal-trigger" >Return</button>
                    
                    </div>
                   
               </div>

            <!--Show on medium only-->
                <div id="nnn" class="buttonClass row show-on-medium hide-on-large-only hide-on-small-only" style="position: fixed;margin-left: -50%;
                     width: 100% ">
                    <div  style=" width: 100%; "> 
                        <!--<h1 style=" text-align: center;"> <b> {{devices[whichItem].name}} - Device id:{{devices[whichItem].device_ID}} </b></h1>-->
                         <h2  style="text-align: center; margin-top: 0rem; margin-bottom: 0rem;"> <b>{{devices[whichItem].device_Name}} </b> </h2>
                        <h3  style="text-align: center; margin-top: 0rem; margin-bottom: 0rem;">  Device id - {{devices[whichItem].device_ID}}  </h3>
                    </div>

                    <div style="width: 100%; margin-top: 20px; margin-left: 80px; background-color: #fafafa;"> 
                        
                        <button  style="width: auto; float: left; height: 36px;margin-right: 10px;" type="button" data-target="modal1" class="Now waves-effect waves-light btn modal-trigger" >Now</button>
                        
                        <button ng-click="ShowBooked()" style="width: auto; float: left; height: 36px;margin-right: 10px;" type="button" data-target="modal2" class="Later waves-effect waves-light btn modal-trigger modal-action modal-close btn waves-effect waves-purple waves-light">Later</button>
                        
                        <button style="width: auto; float: left; height: 36px;margin-right: 10px;" type="button" data-target="modal5" class="Get waves-effect waves-light btn modal-trigger" >Get</button>
                        
                        <button style="width: auto; float: left; height: 36px;margin-right: 10px; " type="button" data-target="modal4" class="Cancel waves-effect waves-light btn modal-trigger" >Cancel</button>
                        
                        <button style="width: auto; float: left; height: 36px;margin-right: 10px; " type="button" data-target="modal3" class="Return waves-effect waves-light btn modal-trigger" >Return</button>
                        
                    </div>
                </div>

                <!--Show on small only-->
                <div id="nnnn" class="buttonClass row show-on-small-only hide-on-med-and-up" style="position: fixed;margin-left: -5%;
                     width: 100% ">
                    <div  style=" width: 100%; background-color: #fafafa; "> 

                        <h2  style="text-align: center; margin-top: 0rem; margin-bottom: 0rem;"> <b>{{devices[whichItem].device_Name}} </b> </h2>
                        <h3  style="text-align: center; margin-top: 0rem; margin-bottom: 0rem;">  Device id - {{devices[whichItem].device_ID}}  </h3>
                </div>

                <div style="width: 100%; float: left; margin-left: 10px; background-color: #fafafa;"> 
                        <button style="margin-top:  20px; width: auto; float: left;height: 30px" type="button" data-target="modal11" class="Now waves-effect waves-light btn modal-trigger">Now</button>
                        <p style="width: 5%; float: left"> </p>
                        <button ng-click="ShowBooked()" style="margin-top:  20px; width: auto; float: left;height: 30px" type="button" data-target="modal22" class="Later waves-effect waves-light btn modal-trigger">Later</button>
                        <p style="width: 5%; float: left"> </p>
                        <button style="margin-top:  20px; width: auto; float: left;height: 30px; " type="button" data-target="modal55" class="Get waves-effect waves-light btn modal-trigger">Get </button> 
                        <p style="width: 5%; float: left"> </p>
                        <button style="margin-top:  20px; width: auto; float: left;height: 30px; margin-right: 10px" type="button" data-target="modal44" class="Cancel waves-effect waves-light btn modal-trigger">Cancel</button>
                        <p style="width: 5%; float: left"> </p>
                        <button style="margin-top:  20px; width: auto; float: left; height: 30px" type="button" data-target="modal33" class="Return waves-effect waves-light btn modal-trigger">Return</button>
                </div>
                </div>

                <div class="fixed-action-btn" style="bottom: 10px; right: 5px;">
                    <a class="btn-floating btn-large purple" href="#/details/{{whichItem}}/edit_mode">
                        <i class="material-icons">mode_edit</i>
                    </a>

                </div>
                
                <!--Button status Label-->
                <div class="col s12 m3 l4 hide-on-med-and-down">
                <label style="margin-top:  110px; width: 35%; float: right; height: auto; background-color: {{devices[whichItem].color}}; color: white; font-size: 2em; padding: 10px; margin-right: 30px;" >{{devices[whichItem].transaction_Mode}}</label>
                </div>

                <div class="col s12 m3 l4 show-on-small-only hide-on-med-and-up">
                <label style="margin-right: 10px; margin-left: 50px; float: right; margin-top:  190px; width: 100%; height: 36px; background-color: {{devices[whichItem].color}}; color: white; font-size: 1.5em; padding: 3px;">{{devices[whichItem].transaction_Mode}}</label>
                </div>
                
                <div class="col s12 m3 l4 show-on-small-only hide-on-med-and-up">
                        <img  style="width: 40%; margin-top: 30px" ng-src="images/{{devices[whichItem].image_no}}.jpg">
                </div>
                    
                <div class="col s12 m3 l4 show-on-medium hide-on-large-only hide-on-small-only">
                <label style="margin-left: 10px; margin-top:  120px; width: 55%; float: right; height: 36px; background-color: {{devices[whichItem].color}}; color: white; font-size: 1.5em; padding: 3px;">{{devices[whichItem].transaction_Mode}}</label>
                </div>

                
                <!--For large devices-->   
                <div class ="row">
                <div class="device cf" ng-model="devices">
                    
                    <div class="info col m6 hide-on-med-and-down" style="text-align: left; margin-top: 200px; float: left;">
                        
                        <table cellspacing="0" class="striped" style = "height: 24px">
                            <tbody><tr style="padding:0; margin:0;">
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px; margin:0; "><h3> Type </h3></th>
                        <td style = "width: auto;padding:0; margin:0; "><h3><b> {{devices[whichItem].type}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr style="padding:0; margin:0;">
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Platform </h3></th>
                        <td style = "width: auto"><h3><b> {{devices[whichItem].platform}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table class="striped" cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> OS </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].os}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                            <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Product Area </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].product_Area}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Sub Product Area </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].sub_Product_Area}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Size </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].size}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Resolution </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].resolution}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Location </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].location}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> URL </h3></th>
                                    <td style = "width: auto"><h3><b><a href="{{devices[whichItem].url}}" target="_blank">{{devices[whichItem].url}}</a></b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        

                    </div>

                    <div class="col s12 col m6  hide-on-med-and-down" style="float: right; margin-top: 75px;">
                        <img style="width: 40%"  ng-src="images/{{devices[whichItem].image_no}}.jpg">

                    </div>
                    </div>
                </div>
                
                <!--For medium devices-->   
                <div class ="row">
                <div class="device cf" ng-model="devices">
                    
                    <div class="info col m6 show-on-medium hide-on-large-only hide-on-small-only" style="text-align: left; margin-top: 0px; float: left;">
                        
                        <table cellspacing="0" class="striped" style = "height: 24px">
                            <tbody><tr style="padding:0; margin:0;">
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px; margin:0; "><h3> Type </h3></th>
                        <td style = "width: auto;padding:0; margin:0; "><h3><b> {{devices[whichItem].type}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr style="padding:0; margin:0;">
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Platform </h3></th>
                        <td style = "width: auto"><h3><b> {{devices[whichItem].platform}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table class="striped" cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> OS </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].os}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                            <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Product Area </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].product_Area}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Sub Product Area </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].sub_Product_Area}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Size </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].size}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Resolution </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].resolution}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Location </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].location}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> URL </h3></th>
                                    <td style = "width: auto"><h3><b><a href="{{devices[whichItem].url}}" target="_blank">{{devices[whichItem].url}}</a></b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        

                    </div>

                    <div class="col s12 m6 l4 show-on-medium hide-on-large-only hide-on-small-only">
                        <img  style="width: 70%; margin-top: 50px" ng-src="images/{{devices[whichItem].image_no}}.jpg">
                    </div>
                    
                    </div>
                </div>
                    
         <!--For small devices--> 
                <div class ="row">
                <div class="device cf" ng-model="devices">
                    
                    <div class="info col m6 show-on-small-only hide-on-med-and-up" style="text-align: left; margin-top: 10px; float: left;">
                        
                        <table cellspacing="0" class="striped" style = "height: 24px">
                            <tbody><tr style="padding:0; margin:0;">
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px; margin:0; "><h3> Type </h3></th>
                        <td style = "width: auto;padding:0; margin:0; "><h3><b> {{devices[whichItem].type}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr style="padding:0; margin:0;">
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Platform </h3></th>
                        <td style = "width: auto"><h3><b> {{devices[whichItem].platform}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table class="striped" cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> OS </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].os}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                            <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Product Area </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].product_Area}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Sub Product Area </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].sub_Product_Area}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Size </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].size}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Resolution </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].resolution}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> Location </h3></th>
                                    <td style = "width: auto"><h3><b> {{devices[whichItem].location}} </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        <table cellspacing="0" class="striped" style = "height: 24px;">
                            <tbody><tr>
                                    <th rowspan="5" style = "width: 38%;padding-left: 5px;"><h3> URL </h3></th>
                                    <td style = "width: auto"><h3><b><a href="{{devices[whichItem].url}}" target="_blank">{{devices[whichItem].url}}</a> </b></h3></td>
                                    
                                </tr>
                            </tbody></table>
                        

                    </div>
           
                </div>
                </div>
                    
                    <!--Booked Dates for small devices-->
                    <div class="row" style="margin: 10px">
                        <ul class="collapsible show-on-small-only hide-on-med-and-up" data-collapsible="accordion" style="width: 100%">
                            <li>
                                <div class="collapsible-header" ng-click="ShowBooked()" style="background-color: plum; text-align: left;font-size: 1.3em"><i class="material-icons" style="float: right;">arrow_drop_down</i><b>See Booked Dates</b></div>
                                <div class="collapsible-body">
                                    <table class="bordered" >
                                        <thead>
                                            <tr>
                                                <th data-field="from" style="padding-left: 10px"><b>Booked From</b></th>
                                                <th data-field="till"><b>Booked Till</b></th>
                                                <th data-field="by"><b>Booked by</b></th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="x in booked" watch>
                                                <td style="padding-left: 10px">{{x.from_Date}}</td>
                                                <td>{{x.to_Date}}</td>
                                                <td>{{x.username}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                  

                <!--To get data to the controller from the front-end-->
                <div ng-hide="true" > 
                    <p id="getTransID" >{{devices[whichItem].transaction_ID}}</p>
                </div>
                <div ng-hide="true" > 
                    <p id="getcolor" >{{devices[whichItem].color}}</p>
                </div>
                <div ng-hide="true" > 
                    <p id="getun" >{{devices[whichItem].username}}</p>
                </div>
                <div ng-hide="true" > 
                    <p id="getdeviceID" >{{devices[whichItem].device_ID}}</p>
                </div>

                <div ng-hide = "true">
                    <p id="todaydate" > {{date| date:'yyyy-MM-dd'}}</p>
                </div>
                <div ng-hide = "true" >
                    <p id="fromDate" > {{$('.datepicker').pickadate() | date:'yyyy-MM-dd'}} </p>
                </div>
                <div ng-hide = "true" >
                    <p id="toDate" > {{toDate| date:'yyyy-MM-dd'}} </p>
                </div>

             <!--Booked Dates for Medium devices-->
           <div class="row" style="margin: 10px; width: 50%;">
           <ul class="collapsible show-on-medium hide-on-large-only hide-on-small-only" data-collapsible="accordion" style="width: 50%">
                        <li>
                            <div class="collapsible-header" ng-click="ShowBooked()" style="background-color: plum; text-align: left;font-size: 1.3em"><i class="material-icons" style="float: right;">arrow_drop_down</i><b>See Booked Dates</b></div>
                            <div class="collapsible-body">
                                <table class="bordered" >
                                    <thead>
                                        <tr>
                                            <th data-field="from" style="padding-left: 10px"><b>Booked From</b></th>
                                            <th data-field="till"><b>Booked Till</b></th>
                                            <th data-field="by"><b>Booked by</b></th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="x in booked" watch>
                                            <td style="padding-left: 10px">{{x.from_Date}}</td>
                                            <td>{{x.to_Date}}</td>
                                            <td>{{x.username}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
        </div>
           
           <!--Booked Dates for Large devices-->
           <div class="row" style="margin: 10px">
           <ul class="collapsible hide-on-med-and-down" data-collapsible="accordion" style="width: 50%">
                        <li>
                            <div class="collapsible-header" ng-click="ShowBooked()" style="background-color: plum; text-align: left;font-size: 1.3em"><i class="material-icons" style="float: right;">arrow_drop_down</i><b>See Booked Dates</b></div>
                            <div class="collapsible-body">
                                <table class="bordered" >
                                    <thead>
                                        <tr>
                                            <th data-field="from" style="padding-left: 10px"><b>Booked From</b></th>
                                            <th data-field="till"><b>Booked Till</b></th>
                                            <th data-field="by"><b>Booked by</b></th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="x in booked" watch>
                                            <td style="padding-left: 10px">{{x.from_Date}}</td>
                                            <td>{{x.to_Date}}</td>
                                            <td>{{x.username}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
        </div>

<!--         Modal Structure -->


        <form >
<!--                    now button start-->

<!--                     Modal Structure     -->
            <div id="modal1" class="modal " style="width: 360px; max-height: 100%; height: auto;" >
                <div class="modal-content" >
                    <h4>Borrow Now</h4>

                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un" type="text" class="validate" maxlength="6" ng-model="now.userName" length="6" required>
                        <label for="un">Username</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons " style="alignment-adjust: before-edge">timelapse</i>
                        <select id="aaa" ng-model="now.to" >
                            <option value="" disabled selected>Duration </option>
                            <option value="1">1 day</option>
                            <option value="2">2 days</option>
                            <option value="3">3 days</option>                     
                            <option value="4">4 days</option>
                            <option value="5">5 days</option> 
                            <option value="6">6 days</option> 
                            <option value="7">1 week</option> 
                            <option value="14">2 weeks</option> 
                            <option value="21">3 weeks</option> 
                            <option value="30">1 month</option> 

                        </select>

                        <label style="alignment-adjust: middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</label>
                    </div> 



<!--                                        <p>{{now}}</p>-->
                </div>
                <div class="modal-footer">
                    <a  ng-click="SendData(now)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>   
<!--                    now button end-->
<!--                    later button start-->
            <div id="modal2" class="modal " style="width: 360px; max-height: 100%;height: auto;">
                <div class="modal-content">
                    <h4>Borrow Later</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un2" type="text" class="validate" ng-model="later.userName" required maxlength="6" length="6">
                        <label for="un2">User Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">today</i>
                        <input id="calender" format="yyyy-MM-dd" type="text" class="datepicker" disable="disable" ng-model="later.from" required>
                        <label for="calender">From</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons">timelapse</i>
                        <select id="bbb" ng-model="later.to" required>
                            <option value="" disabled selected>Duration</option>
                            <option value="1">1 day</option>
                            <option value="2">2 days</option>
                            <option value="3">3 days</option>                     
                            <option value="4">4 days</option>
                            <option value="5">5 days</option> 
                            <option value="6">6 days</option> 
                            <option value="7">1 week</option> 
                            <option value="14">2 weeks</option> 
                            <option value="21">3 weeks</option> 
                            <option value="30">1 month</option>  

                        </select>              
                    </div> 
                </div>
                <div class="modal-footer">
                    <button ng-click="SendData2(later)" name="action" type="submit" class="modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none">Submit</button>
                </div>
                <div>
                    <ul ng-repeat="s in booked" watch>
                        <li> Booked From :  <b>{{s.from_Date}}</b> Till :  <b>{{s.to_Date}}</b> </li>
                    </ul>
                </div>
            </div>

<!--                    later button end-->
            
            <div id="modal3" class="modal " style="width: 360px; max-height: 50%; height: auto;" >
                <div class="modal-content" >
                    <h4>Return the device</h4>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un3" type="text" class="validate" maxlength="6" ng-model="returnDevice.userName" length="6" required>
                        <label for="un3">Username</label>
                    </div>

                </div>
                <div  class="modal-footer">
                    <a  ng-click="SendData3(returnDevice)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div> 
            
            <div id="modal4" class="modal " style="width: 360px; max-height: 50%; height: auto;" >
                <div class="modal-content" >
                    <h4>Cancel the booking</h4>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un4" type="text" class="validate" maxlength="6" ng-model="cancel.userName" length="6" required>
                        <label for="un4">Username</label>
                    </div>

                </div>
                <div  class="modal-footer">
                    <a  ng-click="SendData4(cancel)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>

             <div id="modal5" class="modal " style="width: 360px; max-height: 50%; height: auto;" >
                <div class="modal-content" >
                    <h5>Get the booked device Now</h5>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un5" type="text" class="validate" maxlength="6" ng-model="get.userName" length="6" required>
                        <label for="un5">Username</label>
                    </div>

                </div>
                <div  class="modal-footer">
                    <a  ng-click="SendData5(get)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>
            
        </form>

        <form>
<!--                                now button start-->

<!--                                 Modal Structure     -->
            <div id="modal11" class="modal" style="width: 360px; max-height: 100%; height: auto;"  >
                <div class="modal-content" >
                    <h4>Borrow Now</h4>

                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="unn" type="text" class="validate" maxlength="6" ng-model="now.userName" length="6" required>
                        <label for="unn">Username</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons " style="alignment-adjust: before-edge">timelapse</i>
                        <select id="aaaa" ng-model="now.to">
                            <option value="" disabled selected>Duration </option>
                            <option value="1">1 day</option>
                            <option value="2">2 days</option>
                            <option value="3">3 days</option>                     
                            <option value="4">4 days</option>
                            <option value="5">5 days</option> 
                            <option value="6">6 days</option> 
                            <option value="7">1 week</option> 
                            <option value="14">2 weeks</option> 
                            <option value="21">3 weeks</option> 
                            <option value="30">1 month</option> 

                        </select>

                                                                    <label style="alignment-adjust: middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</label>
                    </div> 
                    
                </div>

                <div class="modal-footer">
                    <a  ng-click="SendData(now)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>   
<!--                                now button end-->
<!--                                later button start-->
            <div id="modal22" class="modal" style="width: 360px; max-height: 100%; height: auto;" >
                <div class="modal-content" >
                    <h4>Borrow Later</h4>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="unn2" type="text" class="validate" ng-model="later.userName" required maxlength="6" length="6">
                        <label for="unn2">User Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">today</i>
                        <input id="calender" type="text" class="datepicker" ng-model="later.from" required>
                        <label for="calender">From</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons">timelapse</i>
                        <select id="bbbb" ng-model="later.to" required>
                            <option value="" disabled selected>Duration</option>
                            <option value="1">1 day</option>
                            <option value="2">2 days</option>
                            <option value="3">3 days</option>                     
                            <option value="4">4 days</option>
                            <option value="5">5 days</option> 
                            <option value="6">6 days</option> 
                            <option value="7">1 week</option> 
                            <option value="14">2 weeks</option> 
                            <option value="21">3 weeks</option> 
                            <option value="30">1 month</option>  

                        </select>              
                    </div> 
                </div>

                <div class="modal-footer">
                    <button ng-click="SendData2(later)" name="action" type="submit" class="modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none">Submit</button>
                </div>
                <div>
                    <ul ng-repeat="s in booked" watch>
                        <li> Booked From :  <b>{{s.from_Date}}</b> Till :  <b>{{s.to_Date}}</b> </li>
                    </ul>
                </div>
            </div>

<!--                                later button end-->

            <div id="modal33" class="modal " style="width: 360px; max-height: 100%; height: auto;" >
                <div class="modal-content" >
                    <h4>Return the device</h4>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un33" type="text" class="validate" maxlength="6" ng-model="returnDevice.userName" length="6" required>
                        <label for="un33">Username</label>
                    </div>

                </div>
                <div  class="modal-footer">
                    <a  ng-click="SendData3(returnDevice)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div> 
            
            <div id="modal44" class="modal " style="width: 360px; max-height: 100%; height: auto;" >
                <div class="modal-content" >
                    <h4>Cancel the booking</h4>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un44" type="text" class="validate" maxlength="6" ng-model="cancel.userName" length="6" required>
                        <label for="un44">Username</label>
                    </div>

                </div>
                <div  class="modal-footer">
                    <a  ng-click="SendData4(cancel)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>

            <div id="modal55" class="modal " style="width: 360px; max-height: 100%; height: auto;" >
                <div class="modal-content" >
                    <h4>Get the booked device Now</h4>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="un55" type="text" class="validate" maxlength="6" ng-model="get.userName" length="6" required>
                        <label for="un55">Username</label>
                    </div>

                </div>
                <div  class="modal-footer">
                    <a  ng-click="SendData5(get)" type="submit" name="action" class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
                </div>
            </div>

        </form>


    </div>
    <a class="call_to_modal waves-effect waves-light modal-trigger" data-target="modal65"></a>
    <div id="modal65" class="modal card-panel"  >
        <div class="modal-content">

            <h4>{{msg}}</h4>
        </div>
        <button class="btn modal-action modal-close waves-effect waves-purple waves-light">OK</button>
        <div> <p> </p> </div>
    </div>

</section>
 

