
<link href="styles/edit_mode.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    function previewImage(input) {
        var preview = document.getElementById('preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.setAttribute('src', 'placeholder.png');
        }
    }
</script>       
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>



<section class="d">
    <div id="wait_moment">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>

    </div>
    <!--    {{some}}
        {{edit_item}}    
        {{edit[edit_item].name}}-->

    <div class="row">
<!--        <form action="webapi/request/image" method="post" enctype="multipart/form-data">

            <p>
                Select a file : <input type="file" name="file"/>
            </p>

            <input type="submit" value="Upload It" />
        </form>-->
        <form class="col s12" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class="row">

                <div class="hoverable card-panel row">

                    <!--<div class="row"><p class="col s12 m6 l6 "></p><p class="col s12 m6 l6"></p></div>For adding space-->

                    <div class="row" ><p class="lll col s6 m6 l6 ">Device ID</p>                
                        <input ng-model="edit[edit_item].device_ID" class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].device_ID}}">
                    </div>                    
                    <div class="row" ><p class="lll col s6 m6 l6 ">Device Name</p>                
                        <input ng-model="edit[edit_item].device_Name" class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].device_Name}}">
                    </div>
                    <div class="row"><p class="lll col s6 m6 l6 ">Product Area</p>
                        <input ng-model="edit[edit_item].product_Area"class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].product_Area}}">
                    </div>                      
                    <div class="row"><p class="lll col s6 m6 l6 ">Sub Product Area</p>
                        <input ng-model="edit[edit_item].sub_Product_Area"class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].sub_Product_Area}}">
                    </div>                  
                    <div class="row"><p class="lll col s6 m6 l6 ">Resolution</p>
                        <input ng-model="edit[edit_item].resolution" class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].resolution}}"/>
                    </div>
                    <div class="row"><p class="lll col s6 m6 l6 ">Size</p>
                        <input ng-model="edit[edit_item].size" class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].size}}"/>
                    </div>
                    <div class="row"><p class="lll col s6 m6 l6 ">Operating System</p>
                        <input ng-model="edit[edit_item].os" class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].os}}"/>
                    </div>
                    <div class="row"><p class="lll col s6 m6 l6 ">URL</p>
                        <input ng-model="edit[edit_item].url" class="validate lll col s6 m6 l5" type="search" value="{{edit[edit_item].url}}"/>
                    </div>
                    <div class="row"><p class="lll col s6 m6 l6 ">Location</p>
                        <!--<input ng-model="edit[edit_item].location" class="lll col s12 m2 l2" type="search" value="{{edit[edit_item].location}}"/>-->
                        <select class="browser-default lll col s6 m5 l5" ng-model="edit[edit_item].location">
                            <option ng-repeat="value in loc">{{value}}</option>
                        </select>
                    </div>                          
                    <div class="row"><p class="lll col s6 m6 l6 ">Type</p>
                        <!--<input ng-model="edit[edit_item].type" class="lll  col s12 m6 l5" type="search" value="{{edit[edit_item].type}}"/>-->
                        <select class="browser-default validate lll col s6 m5 l5" ng-model="edit[edit_item].type">
                            <option ng-repeat="value in typ">{{value}}</option>
                        </select>
                    </div>                        
                    <div class="row"><p class="lll col s6 m6 l6 ">Platform</p>
                        <!--<input ng-model="edit[edit_item].platform" class="lll col s12 m6 l5" type="search" value="{{edit[edit_item].platform}}"/>-->
                        <select class="browser-default validate lll col s6 m5 l5" ng-model="edit[edit_item].platform">
                            <option ng-repeat="value in plt">{{value}}</option>
                        </select>
                    </div>             
                    
                    <div class="input-field row">
                        <div class="lll col s6 m6 l6"><img id="preview" class="hoverable left" ng-src="images/{{edit[edit_item].image_no}}.jpg" max-height="100px" min-height="100px" width="100" /></div>
                        <input class="lll col s12 m6 l5" type="file" name="image" onchange="previewImage(this)" accept="image/*"/>
                        
                        
                    </div>
                    
                    <div class="row col s12 m12 l12">    <!--<div class="btn-small waves-effect waves-light lll col s12 m1 l1" ng-click="_edit4 = !_edit4" ng-hide="_edit4"><i class="material-icons">edit_mode</i></div>-->
                        <div class="lll col  s6 m6 l6">
                        <div style="margin:0 12px; width: 130px" class="btn-small btn waves-effect waves-light" ng-click="goBack()">
                            <abbr title="Back"><i class="material-icons">undo</i></abbr>Back
                        </div>                   
                            </div>
                        <div class="lll col  s6 m6 l6">
                        <div style="margin:0 12px; width: 130px" class="btn-small btn waves-effect waves-light" ng-click="update(edit[edit_item])">
                            <abbr title="Save"><i class="material-icons">save</i></abbr>Save
                        </div>
                        </div>
                    </div>
                </div></div>
            <!--<p>{{edit[edit_item]}}</p>-->
        </form>
    </div>

</section>
