<link href="styles/requested.css" rel="stylesheet" type="text/css"/>

<section class="requested">

    <div class="switch col s12 row">
        <h5 class="col s5" style="text-align: right">Requested</h5>
        <label class="col s2">
            <!--Requested-->
            <input type="checkbox" ng-model="checked" ng-init="checked = false">
            <span class="lever"></span>
            <!--Complete-->
        </label>
        <h5 class="col s5" style="text-align: left">Completed</h5>
    </div>

    <div class="row">

        <div class="col s2 m1 l1" style="float: left; text-align: left">
            <a class="hoverable waves-effect waves-light" ng-click="showInputLabel = !showInputLabel"><i class="material-icons">filter_list</i></a>           
        </div>

        <div class="input-field col s10 m5 l5" ng-show="showInputLabel">
            <!--            <input id="last_name" type="text" ng-model="xxx" class="validate">-->
            <input id="Custom_filter" type="text" class="validate" ng-model="custom_filter" >
            <label for="Custom_filter">Filter</label>
        </div> 

        <div class="col s12 m6 l6">
            <p class="col s4 m4 l4" ng-show="showInputLabel">
                <input type="checkbox" id="c1" ng-model="spa"  ng-true-value="SPA" ng-false-value=""/>
                <label for="c1">SPA</label>            
            </p>
            <p class="col s4 m4 l4" ng-show="showInputLabel">
                <input type="checkbox" id="c2" ng-model="prio"  ng-true-value="priority" ng-false-value=""/>
                <label for="c2">Priority</label>            
            </p>
            <p class="col s4 m4 l4" ng-show="showInputLabel">
                <input type="checkbox" id="c3" ng-model="dat"  ng-true-value="date" ng-false-value=""/>
                <label for="c3">Date</label>            
            </p>
        </div>

    </div>

    <div class="row" id="tab1" ng-show="!checked">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6 col l3"><a href="#test1">Requested</a></li>
                <li class="tab col s6 col l3"><a href="#test2">In progress</a></li>                              
            </ul>
        </div>  

        <div id="test1" class="col s12 m12 l12">            
            <ul class="collapsible" data-collapsible="accordion" watch>            
                <li class="show-on-medium-and-up hide-on-small-only" ng-repeat="req in request| filter:{request_Status:'New'} | filter:custom_filter | orderBy:[dat]:reverse | orderBy:[spa, prio] | orderBy:[spa, dat] | orderBy:[prio]">                         
                    <div class="collapsible-header col s12 m12 l12"><i class="col m1 l1 material-icons for_view" style="width: 2rem;">important_devices</i><div class="col m6 l6">{{req.device_name}}</div> <div class="col m3 l3">{{req.SPA}}</div> <i class=" col m1 l1 material-icons right for_expand">more_vert</i></div>
                    <div class="collapsible-body">

                        <div class="row"><p class="col s12 m6 l6 "></p><p class="col s12 m6 l6"></p></div>
                        <div class="row"><p class="lll col s12 m6 l6">Priority</p><p class="lll col s12 m6 l6">{{req.priority}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Project</p><p class="lll col s12 m6 l6">{{req.project}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Request Status</p><p class="lll col s12 m6 l6">{{req.request_Status}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Resolution</p><p class="lll col s12 m6 l6">{{req.resolution}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Size</p><p class="lll col s12 m6 l6">{{req.size}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">User Name</p><p class="lll col s12 m6 l6">{{req.userName}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Operating System</p><p class="lll col s12 m6 l6">{{req.OS}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Comment</p><p class="lll col s12 m6 l6">{{req.comment}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Type</p><p class="lll  col s12 m6 l6">{{req.type}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">URL</p><p class="lll col s12 m6 l6"><a href="{{req.URL}}" target="_blank">{{req.URL}}</a></p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Location</p><p class="lll col s12 m6 l6">{{req.location}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Platform</p><p class="lll col s12 m6 l6">{{req.platform}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Date</p><p class="lll col s12 m6 l6">{{req.date}}</p></div>
                        <!--                        
                                                <p>dd</p><p>{{req.device_name}}</p>
                                                <p>{{req.priority}}</p>
                                                <p>{{req.project}}</p>
                                                <p>{{req.request_Status}}</p>
                                                <p>{{req.resolution}}</p>
                                                <p>{{req.size}}</p>
                                                <p>{{req.SPA}}</p>
                                                <p>{{req.OS}}</p>
                                                <p>{{req.comment}}</p>
                                                <p>{{req.type}}</p>
                                                <p>{{req.userName}}</p>
                                                <p>{{req.URL}}</p>
                                                <p>{{req.location}}</p>
                                                <p>{{req.platform}}</p>-->
                    </div>
                </li>
                <li class="show-on-small-only hide-on-med-and-up" ng-repeat="req in request| filter:{request_Status:'New'} | filter:custom_filter | orderBy:[dat]:reverse | orderBy:[spa, prio] | orderBy:[spa, dat] | orderBy:[prio]">
                    <div class="collapsible-header col s12"><i class="col s1 material-icons for_view" style="width: 2rem;">important_devices</i><div class="col s8">{{req.device_name}} - <b>{{req.SPA}}</b></div> <i class=" col s1 material-icons right for_expand">more_vert</i></div>
                    <div class=" collapsible-body">             <!--edit_card_panel-->
                        <div class="row"><p class="col s12 m6 l6 "></p><p class="col s12 m6 l6"></p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Priority</p><p class="col s12 m6 l6">{{req.priority}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Project</p><p class="col s12 m6 l6">{{req.project}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Request Status</p><p class="col s12 m6 l6">{{req.request_Status}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Resolution</p><p class="col s12 m6 l6">{{req.resolution}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Size</p><p class="col s12 m6 l6">{{req.size}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Sub Product Area</p><p class="col s12 m6 l6">{{req.SPA}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Operating System</p><p class="col s12 m6 l6">{{req.OS}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Comment</p><p class="col s12 m6 l6">{{req.comment}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Type</p><p class="col s12 m6 l6">{{req.type}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">URL</p><p class="col s12 m6 l6"><a href="{{req.URL}}" target="_blank">{{req.URL}}</a></p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Location</p><p class="col s12 m6 l6">{{req.location}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">User Name</p><p class="col s12 m6 l6">{{req.userName}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Platform</p><p class="col s12 m6 l6">{{req.platform}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Date</p><p class="col s12 m6 l6">{{req.date}}</p></div>
                    </div>
                </li>
            </ul>    
        </div>

        <div id="test2" class="col s12 m12 l12">
            <ul class="collapsible" data-collapsible="accordion" watch>            
                <li class="show-on-medium-and-up hide-on-small-only" ng-repeat="req in request| filter:{request_Status:'In progress'} | filter:custom_filter | orderBy:[dat]:reverse | orderBy:[spa, prio] | orderBy:[spa, dat] | orderBy:[prio]">
                    <div class="collapsible-header col s12 m12 l12"><i class="col m1 l1 material-icons for_view" style="width: 2rem;">important_devices</i><div class="col m6 l6">{{req.device_name}}</div> <div class="col m3 l3">{{req.SPA}}</div> <i class=" col m1 l1 material-icons right for_expand">more_vert</i></div>
                    <div class="collapsible-body">

                        <div class="row"><p class="col s12 m6 l6 "></p><p class="col s12 m6 l6"></p></div>
                        <div class="row"><p class="lll col s12 m6 l6">Priority</p><p class="lll col s12 m6 l6">{{req.priority}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Project</p><p class="lll col s12 m6 l6">{{req.project}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Request Status</p><p class="lll col s12 m6 l6">{{req.request_Status}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Resolution</p><p class="lll col s12 m6 l6">{{req.resolution}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Size</p><p class="lll col s12 m6 l6">{{req.size}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">User Name</p><p class="lll col s12 m6 l6">{{req.userName}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Operating System</p><p class="lll col s12 m6 l6">{{req.OS}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Comment</p><p class="lll col s12 m6 l6">{{req.comment}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Type</p><p class="lll  col s12 m6 l6">{{req.type}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">URL</p><p class="lll col s12 m6 l6"><a href="{{req.URL}}" target="_blank">{{req.URL}}</a></p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Location</p><p class="lll col s12 m6 l6">{{req.location}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Platform</p><p class="lll col s12 m6 l6">{{req.platform}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Date</p><p class="lll col s12 m6 l6">{{req.date}}</p></div>
                    </div>
                </li>

                <li class="show-on-small-only hide-on-med-and-up" ng-repeat="req in request| filter:{request_Status:'In progress'} | filter:custom_filter | orderBy:[dat]:reverse | orderBy:[spa, prio] | orderBy:[spa, dat] | orderBy:[prio]">
                    <div class="collapsible-header col s12"><i class="col s1 material-icons for_view" style="width: 2rem;">important_devices</i><div class="col s8">{{req.device_name}} - <b>{{req.SPA}}</b></div>  <i class=" col s1 material-icons right for_expand">more_vert</i></div>
                    <div class=" collapsible-body">             <!--edit_card_panel-->
                        <div class="row"><p class="col s12 m6 l6 "></p><p class="col s12 m6 l6"></p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Priority</p><p class="col s12 m6 l6">{{req.priority}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Project</p><p class="col s12 m6 l6">{{req.project}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Request Status</p><p class="col s12 m6 l6">{{req.request_Status}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Resolution</p><p class="col s12 m6 l6">{{req.resolution}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Size</p><p class="col s12 m6 l6">{{req.size}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Sub Product Area</p><p class="col s12 m6 l6">{{req.SPA}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Operating System</p><p class="col s12 m6 l6">{{req.OS}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Comment</p><p class="col s12 m6 l6">{{req.comment}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Type</p><p class="col s12 m6 l6">{{req.type}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">URL</p><p class="col s12 m6 l6"><a href="{{req.URL}}" target="_blank">{{req.URL}}</a></p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Location</p><p class="col s12 m6 l6">{{req.location}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">User Name</p><p class="col s12 m6 l6">{{req.userName}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Platform</p><p class="col s12 m6 l6">{{req.platform}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Date</p><p class="col s12 m6 l6">{{req.date}}</p></div>
                    </div>
                </li>
            </ul>    
        </div>  


    </div>
    <div class="row" id="tab2" ng-show="checked">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6 col l3"><a href="#test3">Completed</a></li>
                <li class="tab col s6 col l3"><a href="#test5">Rejected</a></li>                               
            </ul>
        </div>
        <div id="test3" class="col s12 m12 l12">
            <ul class="collapsible" data-collapsible="accordion" watch>            
                <li class="show-on-medium-and-up hide-on-small-only" ng-repeat="req in request| filter:{request_Status:'Complete'} | filter:custom_filter | orderBy:[dat]:reverse | orderBy:[spa, prio] | orderBy:[spa, dat] | orderBy:[prio]">
                    <div class="collapsible-header col s12 m12 l12"><i class="col m1 l1 material-icons for_view" style="width: 2rem;">important_devices</i><div class="col m6 l6">{{req.device_name}}</div> <div class="col m3 l3">{{req.SPA}}</div> <i class=" col m1 l1 material-icons right for_expand">more_vert</i></div>
                    <div class="collapsible-body">

                        <div class="row"><p class="col s12 m6 l6 "></p><p class="col s12 m6 l6"></p></div>
                        <div class="row"><p class="lll col s12 m6 l6">Priority</p><p class="lll col s12 m6 l6">{{req.priority}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Project</p><p class="lll col s12 m6 l6">{{req.project}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Request Status</p><p class="lll col s12 m6 l6">{{req.request_Status}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Resolution</p><p class="lll col s12 m6 l6">{{req.resolution}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Size</p><p class="lll col s12 m6 l6">{{req.size}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">User Name</p><p class="lll col s12 m6 l6">{{req.userName}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Operating System</p><p class="lll col s12 m6 l6">{{req.OS}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Comment</p><p class="lll col s12 m6 l6">{{req.comment}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Type</p><p class="lll  col s12 m6 l6">{{req.type}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">URL</p><p class="lll col s12 m6 l6"><a href="{{req.URL}}" target="_blank">{{req.URL}}</a></p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Location</p><p class="lll col s12 m6 l6">{{req.location}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Platform</p><p class="lll col s12 m6 l6">{{req.platform}}</p></div>
                        <div class="row"><p class="lll col s12 m6 l6 ">Date</p><p class="lll col s12 m6 l6">{{req.date}}</p></div>
                    </div>
                </li>

                <li class="show-on-small-only hide-on-med-and-up" ng-repeat="req in request| filter:{request_Status:'Complete'} | filter:custom_filter | orderBy:[dat]:reverse | orderBy:[spa, prio] | orderBy:[spa, dat] | orderBy:[prio]">
                    <div class="collapsible-header col s12"><i class="col s1 material-icons for_view" style="width: 2rem;">important_devices</i><div class="col s8">{{req.device_name}} - <b>{{req.SPA}}</b></div>  <i class=" col s1 material-icons right for_expand">more_vert</i></div>
                    <div class=" collapsible-body">             <!--edit_card_panel-->
                        <div class="row"><p class="col s12 m6 l6 "></p><p class="col s12 m6 l6"></p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Priority</p><p class="col s12 m6 l6">{{req.priority}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Project</p><p class="col s12 m6 l6">{{req.project}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Request Status</p><p class="col s12 m6 l6">{{req.request_Status}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Resolution</p><p class="col s12 m6 l6">{{req.resolution}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Size</p><p class="col s12 m6 l6">{{req.size}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Sub Product Area</p><p class="col s12 m6 l6">{{req.SPA}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Operating System</p><p class="col s12 m6 l6">{{req.OS}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Comment</p><p class="col s12 m6 l6">{{req.comment}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Type</p><p class="col s12 m6 l6">{{req.type}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">URL</p><p class="col s12 m6 l6"><a href="{{req.URL}}" target="_blank">{{req.URL}}</a></p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Location</p><p class="col s12 m6 l6">{{req.location}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">User Name</p><p class="col s12 m6 l6">{{req.userName}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Platform</p><p class="col s12 m6 l6">{{req.platform}}</p></div>
                        <div class="row"><p class="col s12 m6 l6 ">Date</p><p class="col s12 m6 l6">{{req.date}}</p></div>
                    </div>
                </li>
            </ul>    
        </div>   
    </div>

</section>


<script src="js/materialize.min.js" type="text/javascript"></script>
<!--http://krescruz.github.io/angular-materialize/#collapsible-->