<link href="styles/request_style.css" rel="stylesheet" type="text/css"/>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<section class="c">        

    <h4>{{some}}</h4>

    <div class="row">
        <form class="col s12">
            <div class="row">

                <div class="hoverable card-panel row">

                    <div class="input-field col m6 col s12">                        
                        <input id="devicename" type="text" class="validate" ng-model="request.device_name" required>
                        <label for="devicename">Device Name</label>
                    </div>  

                    <div class="input-field col m6 col s12">
                        <select ng-model="request.type">
                            <option value="" disabled selected >Choose your option</option>
                            <option value="phone">Phone</option>
                            <option value="tablet">Tablet</option>
                            <option value="laptop">Laptop</option>
                            <option value="desktop">Desktop</option> 
                        </select>
                        <label>Type</label>
                    </div> 

                    <div class="input-field col m6 s12">
                        <select ng-model="request.platform">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="android">Android</option>
                            <option value="mac">MAC</option>
                            <option value="ios">IOS</option>                     
                            <option value="windows">Windows</option>
                            <option value="windows_phone">Windows Phone</option> 
                        </select>
                        <label>Platform</label>
                    </div>        

                    <div class="input-field col m6 col s12">                        
                        <input id="os" type="text" class="validate" ng-model="request.OS" required>
                        <label for="os">Operating System</label>
                    </div>

                    <div class="input-field col m6 s12">
                        <select ng-model="request.priority">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <label>Priority</label>
                    </div>  

                    <div class="input-field col m6 col s12">                    
                        <input id="size" type="text" class="validate" ng-model="request.size">
                        <label for="size">Size Inches</label>
                    </div>

                    <div class="input-field col m6 col s12">                    
                        <input id="resolution" type="text" class="validate" ng-model="request.resolution">
                        <label for="resolution">Display Resolution in pixels</label>
                    </div>

                    <div class="input-field col m6 s12">
                        <select ng-model="request.location" >
                            <option value="" disabled selected>Choose your option</option>                        
                            <option value="cmb">CMB</option>
                            <option value="lkp">LKP</option> 
                        </select>
                        <label>Location</label>
                    </div>

                    <div class="input-field col m6 col s12">
                        <input id="spa" type="text" class="validate" ng-model="request.SPA" required>
                        <label for="spa">Sub-Product Area</label>
                    </div>

                    <div class="input-field col m6 col s12">
                        <input id="pro" type="text" class="validate" ng-model="request.project" required>
                        <label for="pro">Project</label>
                    </div>    

                    <div class="input-field col m6 col s12">
                        <input id="url" type="text" class="validate" ng-model="request.URL" required>
                        <label for="url">URL</label>
                    </div>

                    <div class="input-field col m6 col s12">
                        <input id="icon_prefix" type="text" class="validate" ng-model="request.userName" required  maxlength="6" length="6">
                        <label for="icon_prefix">User Name</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" length="120" ng-model="request.comment"></textarea>
                        <label for="textarea1">Comment</label>
                    </div>

                </div>

                <button class="btn waves-effect waves-purple waves-light" ng-click="SendData(request)" type="submit" name="action">
                    Submit                    
                </button>

            </div>

            <a class="call_to_modal waves-effect waves-light modal-trigger" data-target="modal1"></a>
            
            <!--call to modal from controller-->
        </form>         
        {{msg}}
    </div>

    <div id="modal1" class="modal card-panel" style="width: 35%">
        <div class="modal-content">

            <h4>{{msg}}</h4>

            <!--            <h5>device_name: {{PostDataResponse.device_name}}</h5>
                        <h5>type: {{PostDataResponse.type}}</h5>
                        <h5>platform: {{PostDataResponse.platform}}</h5>
                        <h5>OS: {{PostDataResponse.OS}}</h5>
                        <h5>priority: {{PostDataResponse.priority}}</h5>
                        <h5>size: {{PostDataResponse.size}}</h5>
                        <h5>resolution: {{PostDataResponse.resolution}}</h5>
                        <h5>location: {{PostDataResponse.location}}</h5>
                        <h5>SPA: {{PostDataResponse.SPA}}</h5>
                        <h5>project: {{PostDataResponse.project}}</h5>        
                        <h5>URL: {{PostDataResponse.URL}}</h5>
                        <h5>userName: {{PostDataResponse.userName}}</h5>
                        <h5>comment: {{PostDataResponse.comment}}</h5>-->
        </div>
        <button class="btn modal-action modal-close waves-effect waves-purple waves-light">OK</button>
        <div> <p> </p> </div>
    </div>

</section>



<!--
                <ul class=" collapsible" data-collapsible="accordion">
                    <li>                         
                        <div class="collapsible-header ">More Details<i class="material-icons right">more_vert</i></div>
                        <div class="edit_card_panel collapsible-body card-panel row">                            

                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea" length="120" ng-model="request.comment"></textarea>
                                <label for="textarea1">Comment</label>
                            </div>

                        </div>
                    </li>
                </ul>-->