<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<!--div class="ignore"></div>
<h1>{{some}}</h1-->
<link href="styles/thumbnail.css" rel="stylesheet" type="text/css"/>
<section class="b_2 hide-on-small-only">

    <!--<div class="ignore"></div>-->
    <div class="main_content"> 
        <div class ="sub_content"><!--sub_content-->
            <!--#wrap-->

            <h3 class="left">All Devices </h3>

            <div class="right"> <!--list_style_buttons-->
                <a class=" waves-effect waves-light left" ng-click="showLabel1 = !showLabel1" style="color: black; background-color: transparent; box-shadow: transparent"><i class="material-icons">filter_list</i></a>
                <a href="#/thumbnail" id="gridview" class="switcher hide-on-small-only left"><i class="material-icons">grid_on</i></a>
                <a href="#/devices" id="listview" class="switcher active hide-on-small-only left"><i class="material-icons">view_list</i></a>

            </div>
            <div class="input-field col m5 l5 right" ng-show="showLabel1" style="margin-right: 50px">            
                        <input id="Custom_filter3" type="text" class="validate" ng-model="custom_filter3" >
                        <label for="Custom_filter3">Filter</label>
            </div>

        </div>

        <div class="ifs_banner" ng-controller="deviceCtrl">

            <center>
                <ul id="deviceS" class="grid clearfix ">
                    <li ng-animate="'animate'" class = "clearfix hoverable" ng-repeat="item in devices| orderBy: ['transaction_Mode'] | filter:custom_filter3"> 
                        <a href="#/details/{{devices.indexOf(item)}}">
<!--                            <div ng-show="{{item.transaction_Mode == 'red'}}" class="info col s1 m1 l1 hide-on-small-only vertical-line" style="height: 20%;width: 10px; background-color: red;float: left; " > </div>
                            <div ng-show="{{item.transaction_Mode == 'orange'}}" class="info col s1 m1 l1 hide-on-small-only vertical-line" style="height: 20%;width: 10px; background-color: orange;float: left; " > </div>
                            <div ng-hide="{{item.transaction_Mode == 'red'}} || {{item.transaction_Mode == 'orange'}}" class="info col s1 m1 l1 hide-on-small-only vertical-line" style="height: 20%; width: 10px; background-color: green; float: left;" > </div>-->
                            <div class="info col s1 m1 l1 hide-on-small-only vertical-line" style="height: 18%;width: 15px; background-color: {{item.transaction_Mode}}; float: left;" > </div>
                            <img  ng-src="images/{{item.image_no}}.jpg">
                            <div class="info">
                                <h3> {{item.name}} - [id  {{item.device_ID}}] </h3>

                                <h4> {{item.type}} </h4>
                                <h4> {{item.OS}} </h4>
                                <h4> Owned by : {{item.sub_Product_Area_name}} </h4>

                            </div>

                            <div class="buttonClass col m11 l11 row" >
                                <button ng-hide="{{item.transaction_Mode == 'red'}} || {{item.transaction_Mode == 'orange'}}" style="margin-top:  10px" type="button" class="btn col m5 l5">Now</button>
                                <button ng-show="{{item.transaction_Mode == 'red'}}" style="margin-top:  10px" type="button" class="btn col m5 l5">Return</button>
                                
                                <button ng-show="{{item.transaction_Mode == 'orange'}}" style="margin-top:  10px" type="button" class="btn col m5 l5">Cancel</button>
                                <p class="col m1 l1 "> </p>
                                <button style="margin-top:  10px" type="button" class="btn col m5 l5">Later</button>
                                <button ng-show="{{item.transaction_Mode == 'orange'}}" style="margin-top:  10px; margin-left: 50px" type="button" class="btn col m5 l5">Get</button> 
                               
                            </div>
                        </a>
<!--                        <form>
        now button start

         Modal Structure 
        <div id="modal1" class="modal" style="width: 100%; max-height: 100%; height: 100%;" >
            <div class="modal-content">
                <h4>Borrow Now</h4>

                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="un" type="text" class="validate" maxlength="6" ng-model="now.userName" length="6" required>
                    <label for="un">Username</label>
                </div>


                <div class="input-field ">
                    <i class="material-icons " style="alignment-adjust: before-edge">timelapse</i>
                    <select ng-model="now.to">
                        <option value="" disabled selected>Duration </option>
                        <option value="1day">1 day</option>
                        <option value="2day">2 days</option>
                        <option value="3day">3 days</option>                     


                    </select>

                                        <label style="alignment-adjust: middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</label>
                </div>

                <p>{{now}}</p>
            </div>
            <div class="modal-footer">
                <a  class=" modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none; text-align: center">Submit</a>
            </div>
        </div>   
        now button end
        later button start
        <div id="modal2" class="modal" style="width: 100%; height: 100%; max-height: 100%;">
            <div class="modal-content">
                <h4>Borrow Later</h4>
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="un2" type="text" class="validate" ng-model="later.userName" required maxlength="6" length="6">
                    <label for="un2">User Name</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">today</i>
                    <input id="calender" type="text" class="datepicker" ng-model="later.from" required>type="date"
                    <label for="calender">From</label>
                </div>
                <div class="input-field">
                    <i class="material-icons">timelapse</i>
                    <select ng-model="later.to" required>
                        <option value="" disabled selected>Duration</option>
                        <option value="1day">1 day</option>
                        <option value="2day">2 days</option>
                        <option value="3day">3 days</option>                     


                    </select>              
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close btn waves-effect waves-purple waves-light" style="float: none">Submit</button>
            </div>
            <p>{{later}}</p>
        </div>

        later button end
    </form>-->
                    </li>

                </ul>
            </center>
        </div>

    </div>

    

</section>



