<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<!--div class="ignore"></div>
<h1>{{some}}</h1-->
<link href="styles/thumbnail.css" rel="stylesheet" type="text/css"/>
<section class="b_2 hide-on-small-only">

    <!--<div class="ignore"></div>-->
    <div class="main_content"> 
        <div class ="sub_content"><!--sub_content-->
            <!--#wrap-->

            <h3 class="left">All Devices </h3>

            <div class="right"> <!--list_style_buttons-->
                <a class=" waves-effect waves-light left" ng-click="showLabel1 = !showLabel1" style="color: black; background-color: transparent; box-shadow: transparent"><i class="material-icons">filter_list</i></a>
                <a href="#/thumbnail" id="gridview" class="switcher hide-on-small-only left"><i class="material-icons">grid_on</i></a>
                <a href="#/devices" id="listview" class="switcher active hide-on-small-only left"><i class="material-icons">view_list</i></a>

            </div>
            <div class="input-field col m5 l5 right" ng-show="showLabel1" style="margin-right: 50px">            
                        <input id="Custom_filter3" type="text" class="validate" ng-model="custom_filter3" >
                        <label for="Custom_filter3">Filter</label>
            </div>

        </div>

        <div class="ifs_banner" ng-controller="deviceCtrl">

            <center>
                <ul id="deviceS" class="grid clearfix ">
                    <li ng-animate="'animate'" class = "clearfix hoverable" ng-repeat="item in devices| orderBy: ['color'] | filter:custom_filter3 | filter: globalSearch"> 
                        <a href="#/details/{{devices.indexOf(item)}}">

                            <div class="info col s1 m1 l1 hide-on-small-only vertical-line" style="height: 18%;width: 15px; background-color: {{item.color}}; float: left;" > </div>
                            <img  ng-src="images/{{item.image_no}}.jpg" style="width: 160px; height: 160px;">
                            <div class="info">
                                <h3> {{item.device_Name}} - [id  {{item.device_ID}}] </h3>

                                <h4> {{item.type}} </h4>
                                <h4> {{item.os}} </h4>
                                <h4> Owned by : {{item.product_Area}} {{item.sub_Product_Area}} </h4>

                            </div>

                            <div class="buttonClass col m11 l11 row" >
                                <button ng-hide="{{item.transaction_Mode == 'unavailable'}} || {{item.transaction_Mode == 'booked'}}" style="margin-top:  10px" type="button" class="btn col m5 l5">Now</button>
                                <button ng-show="{{item.transaction_Mode == 'unavailable'}}" style="margin-top:  10px" type="button" class="btn col m5 l5">Return</button>
                                
                                <button ng-show="{{item.transaction_Mode == 'booked'}}" style="margin-top:  10px" type="button" class="btn col m5 l5">Cancel</button>
                                <p class="col m1 l1 "> </p>
                                <button style="margin-top:  10px" type="button" class="btn col m5 l5">Later</button>
                                <button ng-show="{{item.transaction_Mode == 'booked'}}" style="margin-top:  10px; margin-left: 50px" type="button" class="btn col m5 l5">Get</button> 
                               
                            </div>
                        </a>
                    </li>

                </ul>
            </center>
        </div>

    </div>

    

</section>



