
<!DOCTYPE>
<html ng-app="app">
    <head>              
        <title>IFS Devices</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--<link href="materialize/css/materialize.min.css" rel="stylesheet" type="text/css"/>-->
        <link href="materialize/css/materialize.css" rel="stylesheet" type="text/css"/>
        <link href="styles/style.css" rel="stylesheet" type="text/css"/>       
    </head>

    <body ng-controller="staticCtrl">
        <!--start header-->
        <nav class="main_header">
            <div class="nav-wrapper">

                <div class="n1">
                    <div class="hide-on-med-and-down" >
                        <a href="#/home"><img src="img/IFS_logo.png" alt="Home"></a>
                    </div>
                </div>

                <div class="n2">
                    <ul><li><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a></li></ul>
                    <ul>
                        <li class="left"><a href="#/home"><i class="material-icons">home</i></a></li>
                        <li class="left"><a href="#/devices"><i class="material-icons">devices</i></a></li>
                        <li class="left"><a href="#/request"><i class="material-icons">add_circle</i></a></li>                                        
                    </ul>

                    <i  class="material-icons right" ng-show="search_bar"  ng-click="searched()">search</i>                   
                    <form class="show-on-small-only hide-on-med-and-up search_class right col s12" ng-hide="search_bar">
                        <div class="input-field">
                            <input id="search" type="search" ng-attr-placeholder="{{searching}}" required>
                            <label for="search">
                                <i class="material-icons " ng-click="searched()">close</i>                                
                            </label>
                        </div>
                    </form>
                    <form class="hide-on-small-only right col s12" ng-hide="search_bar">
                        <div class="input-field">
                            <input id="search" type="search" ng-attr-placeholder="{{searching}}" required ng-model="globalSearch.$">
                            <label for="search">
                                <i class="material-icons" ng-click="searched()">close</i>                                
                            </label>
                        </div>
                    </form>                    
                    <!--<a class="right" href="#"><i class="material-icons">search</i></a>-->
                    <!--                    <script>
                                                    $('#search').keyup(function () {
                    
                                                        var text = $('#search').val();
                                                        var data1 = {'text': text};
                                                        $.ajax({
                                                            type: 'POST',
                                                            data: data1,
                                                            url: 'ifs_devices.resources/SearchResource.java',
                                                            success: function (data) {
                                                                $('#searchdetails').empty();
                                                                $.each(data['names'], function (key, val) {
                    
                                                                    $('#searchdetails').append("<label class='text' style='color:#863D8D'>" + val + "</label><br>");
                                                                });
                                                            }
                                                        });
                                                    });
                                        </script>-->
                </div>
            </div>
        </nav>

        <div class="ignore"></div>

        <ul style="text-align: left;" class="side-nav collapsible" id="mobile-demo" data-collapsible="expandable">
            <li style="height: 1.25em;"></li>

            <li>
                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Product Area</div>
                <div class="collapsible-body">
                    <!--<ul class="f_height collapsible" data-collapsible="expandable">-->
                    <ul>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Technology</div>
                            <div class="collapsible-body">                        
                                <ul>
                                    <li><div class="collapsible-header">Mass</div></li>
                                    <li><div class="collapsible-header">Tools</div></li>
                                    <li><div class="collapsible-header">Server</div></li>
                                    <li><div class="collapsible-header">Client</div></li>                                       
                                </ul>
                            </div>
                        </li>
                        <li><div class="collapsible-header">R&D</div></li>
                        <li><div class="collapsible-header">Trainee</div></li>
                        <li><div class="collapsible-header">HR</div></li>
                    </ul>                 
                </div>
            </li>
<!--            <li>
                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Device Type</div>
                <div class="collapsible-body">
                    <ul>
                        <li><div class="collapsible-header">Phone</div></li>
                        <li><div class="collapsible-header">Tablet</div></li>
                        <li><div class="collapsible-header">Notebook</div></li>
                        <li><div class="collapsible-header">Laptop</div></li>
                        <li><div class="collapsible-header">Desktop</div></li>                  
                    </ul>
                </div>
            </li>-->
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Device Type</div>
                    <div class="collapsible-body">
                        <ul class="collapsible" style="margin: 0px;box-shadow: none;border: none;" data-collapsible="accordion" watch>
                            <li ng-repeat="value in typ">
                                <a href="#/devices"><div ng-click="filter_bar(value)" class="collapsible-header">{{value}}</div></a>
                                <!--<div class="collapsible-body"><p>{{single.content}}</p></div>-->
                            </li>
                        </ul>
                    </div>                   
                </li>            
<!--            <li>
                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Platform</div>
                <div class="collapsible-body">
                    <ul>
                        <li><div class="collapsible-header">Android</div></li>
                        <li><div class="collapsible-header">IOS</div></li>
                        <li><div class="collapsible-header">MAC</div></li>
                        <li><div class="collapsible-header">Windows</div></li>                                                               
                    </ul>                    
                </div>
            </li>-->
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Platform</div>
                    <div class="collapsible-body">
                        <ul  class="collapsible" style="margin: 0px;box-shadow: none;border: none;" data-collapsible="accordion" watch>
                            <li ng-repeat="value in plt">
                                <a href="#/devices"><div ng-click="filter_bar(value)" class="collapsible-header filter_bar">{{value}}</div></a>
                                <!--ng-click="filter_bar(value)"<div class="collapsible-body"><p>{{single.content}}</p></div>-->
                            </li>
                        </ul>
                    </div>                   
                </li>            
            <li>
                <a href="#/requested">
                    <div class="collapsible-header"><i class="material-icons">event_note</i>Requested Devices</div>
                </a>                    
            </li>            

        </ul>

        <!-- n1 -->
        <div style="text-align: left;" class="n1">
            <ul class="f_height collapsible hide-on-med-and-down" data-collapsible="expandable" style="margin: 0px; height: 100%;">
                <!--                <li style="height: 1.25em;"></li>-->
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Product Area</div>
                    <div class="collapsible-body">
                        <!--<ul class="f_height collapsible" data-collapsible="expandable">-->
                        <ul>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Technology</div>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><div class="collapsible-header">Mass</div></li>
                                        <li><div class="collapsible-header">Tools</div></li>
                                        <li><div class="collapsible-header">Server</div></li>
                                        <li><div class="collapsible-header">Client</div></li>                                       
                                    </ul>
                                </div>
                            </li>
                            <li><div class="collapsible-header">R&D</div></li>
                            <li><div class="collapsible-header">Trainee</div></li>
                            <li><div class="collapsible-header">HR</div></li>
                        </ul>                 
                    </div>
                </li>
                <!--                <li>
                                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Device Type</div>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><div class="collapsible-header">Phone</div></li>
                                            <li><div class="collapsible-header">Tablet</div></li>
                                            <li><div class="collapsible-header">Notebook</div></li>
                                            <li><div class="collapsible-header">Laptop</div></li>
                                            <li><div class="collapsible-header">Desktop</div></li>                  
                                        </ul>
                                    </div>
                                </li>-->
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Device Type</div>
                    <div class="collapsible-body">
                        <ul class="collapsible" style="margin: 0px;box-shadow: none;border: none;" data-collapsible="accordion" watch>
                            <li ng-repeat="value in typ">
                                <a href="#/devices"><div ng-click="filter_bar(value)" class="collapsible-header">{{value}}</div></a>
                                <!--<div class="collapsible-body"><p>{{single.content}}</p></div>-->
                            </li>
                        </ul>
                    </div>                   
                </li>

                <!--                <li>
                                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Platform</div>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><div class="collapsible-header">Android</div></li>
                                            <li><div class="collapsible-header">IOS</div></li>
                                            <li><div class="collapsible-header">MAC</div></li>
                                            <li><div class="collapsible-header">Windows</div></li>                                                               
                                        </ul>                    
                                    </div>
                                </li>-->
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Platform</div>
                    <div class="collapsible-body">
                        <ul  class="collapsible" style="margin: 0px;box-shadow: none;border: none;" data-collapsible="accordion" watch>
                            <li ng-repeat="value in plt">
                                <a href="#/devices"><div ng-click="filter_bar(value)" class="collapsible-header filter_bar">{{value}}</div></a>
                                <!--ng-click="filter_bar(value)"<div class="collapsible-body"><p>{{single.content}}</p></div>-->
                            </li>
                        </ul>
                    </div>                   
                </li>
                <li>
                    <a href="#/requested">
                        <div class="collapsible-header"><i class="material-icons">event_note</i>Requested Devices</div>
                    </a>                    
                </li>                
            </ul>


        </div>

        <section class="n2" ng-view>

        </section>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>                        
        <script src="materialize/js/materialize.min.js" type="text/javascript"></script>
        <script src="angular/angular.min.js"></script>
        <script src="angular/angular-route.min.js"></script>

        <script src="js/script.js" type="text/javascript"></script>       
        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/thumbnailscript.js"></script>  


    </body>
</html>